* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
}
/*width presentase*/
.w100 {
    width: 100%; }.W95 {    width: 95%; }.w90 {    width: 90%; }.w85 {    width: 85%; }.w80 {    width: 80%; }.w75 {
    width: 75%; }.w70 {    width: 70%; }.w65 {    width: 65%;  }.w60 {    width: 60%;}.w55 {    width: 55%;}.w50 {
    width: 50%; }.w45 {    width: 45%; }.w40 {    width: 40%;
}.w35 {    width: 35%;}.w30 {    width: 30%; }.w25 {    width: 25%; }.w20 {    width: 20%; }.w15 {    width: 15%;}.w10 {
    width: 10%; }.w5 {    width: 5%;}
/*height pixsel*/
.h100 {
    height: 100px;
}.h95 {
    height: 95px;
}.h90 {
    height: 90px;
}.h85 {
    height: 85px;
}.h80 {
    height: 80px;
}.h75 {
    height: 75px;
}
.h70 {
    height: 70px;
}.h65 {
    height: 65px;
}.h60 {
    height: 60px;
}.h55 {
    height: 55px;
}.h50 {
    height: 50px;
}.h45 {
    height: 45px;
}
.h40 {
    height: 40px;
}.h35 {
    height: 35px,;
}.h30 {
    height: 30px;
}.h25 {
    height: 25px;
}.h20 {
    height: 20px;
}.h15 {
    height: 15px;
}
.h10 {
    height: 10px;
} .h5 {
    height: 5px;
}
/*margin(+) down persentase*/
.mr-p100 {
    margin: 100%;
}.mr-p95 {
    margin: 95%;
}.mr-p90 {
    margin: 90%;
}.mr-p85 {
    margin: 85%;
}
.mr-p80 {
    margin: 80%;
}.mr-p75 {
    margin: 75%;
}.mr-p70 {
    margin: 70%;
}.mr-p65 {
    margin: 65%;
}
.mr-p60 {
    margin: 60%;
}.mr-p55 {
    margin: 55%;
}.mr-p50 {
    margin: 50%;
}.mr-p45 {
    margin: 45%;
}
.mr-p40 {
    margin: 40%;
}.mr-p35 {
    margin: 35%;
}.mr-p30 {
    margin: 30%;
}.mr-p25 {
    margin: 25%;
}
.mr-p20 {
    margin: 20%;
}.mr-p15 {
    margin: 15%;
}.mr-p10 {
    margin: 10%;
}.mr-p5 {
    margin: 5%;
}
.mr-p4 {
    margin: 4%;
}.mr-p3 {
    margin: 3%;
}.mr-p2 {
    margin: 2%;
}.mr-p1 {
    margin: 1%;
}
.mr-a {
    margin: auto;
}
/*margin(-) to the top Persentase*/

/*margin(+)(-) right*/
 .mr-r5 {
     margin: 0 5%;
 }
 .mr-r45 {
     margin: 0 45%;
 }
/*margin(+)(-) left*/
/*bg*/
.bg-red {
    background: red;
}.bg-white {
    background: white;
}.bg-yellow {
    background: yellow;
}.bg-blue {
    background: blue;
}
.bg-green {
    background: green;
}.bg-sky {
    background: skyblue;
}.bg-grey {
    background: grey;
}.bg-black {
    background: black;
}
/*color*/
.c-white {
    color: white;
}.c-red {
    color: red;
}.c-black {
    color: black;
}.c-orange {
    color: orange;
}

.c-white-a a{
    color: white;
}.c-red-a a{
    color: red;
}.c-black-a a{
    color: black;
}
/*padding*/
/*padding r l*/
.pe-l10 {
    padding: 0 10%;
}.pe-l15 {
    padding: 0 15%;
}
/* display */
.flex {
    display: flex;
}.block {
    display: block;
}.inline {
    display: inline; 
}.column {
    flex-direction: column;
}
.space-bw {
    justify-content: space-between;
}.space-ar {
    justify-content: space-around;
}.space-e {
    justify-content: space-evenly;
}
/* font*/
.bold {
    font-weight: bold;
}
/*fontsiz*/
/*postion*/
.p-f {
    position: fixed;
}.p-a {
    position: absolute;
}.p-r {
    position: relative;
}
/*justify and align*/
.jc-center {
    justify-content: center;} .ji-center {
    justify-items: center;
} 
.ac {
    align-content: center;}
    .ai {
    align-items: center;
} .ta {
    text-align: center;
}
.ta-l {
    text-align: left;
}.ta-r {
    text-align: right;
}
/*line*/
.lh-55 {
    line-height: 55px;
}
.card {
    height: 21rem;
    box-shadow: 2px 3px 5px rgba(1, 1, 3, 0.2);
}.card-title {  }.card-deskripsi p{    margin: 5% 0;
    text-align: left; }.card-img img{    width: 100%;
    height: 200px; }.card-btn {    width: 35%;
    height: 10%;    border: 1px solid black;    background: transparent;    margin: 0 30%;    transition: 1.2s;
}.card-btn:hover {    background: orange;    border: 1px solid orange; }

.card-btn {    
        border: 1px solid black;    background: transparent;    margin: 0 30%;    transition: 1.2s;
}.card-btn:hover {    background: orange;    border: 1px solid orange; }
.card-a img{    height: 21rem;    box-shadow: 2px 3px 5px rgba(1, 1, 3, 0.2); }.navbar-fixed {    top: 0;    position: fixed;    z-index: 99999; }
